In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stat
header_row = 0

In [ ]:
offense_stats = pd.read_csv('offense_stats.csv') # Offensive Stats
offense_stats.columns = offense_stats.iloc[header_row]
offense_stats = offense_stats.drop(header_row)
offense_stats = offense_stats.drop(columns=['Pen'])
offense_stats = offense_stats.drop(columns=['TO%'])
offense_stats = offense_stats.drop(columns=['Sc%'])
offense_stats = offense_stats.drop(columns=['Rk'])
offense_stats = offense_stats.drop(columns=['1stPy'])
offense_stats = offense_stats.iloc[: , :-2]
offense_stats = offense_stats.drop(columns=['1stD'])
offense_stats = offense_stats.drop(columns=['FL'])
offense_stats.columns = ['Team', 'Games','Total Points For','Total Yards', 'Total Plays', 'Total Yards/Play', 'Total Turnovers', 'Passing Completitons', 'Passing Attempts', 'Passing Yards',\
    'Passing TD', 'Passing Int', 'Net Yards/Attempt', 'Rushing Attempts', 'Total Rushing Yards', 'Rushing TDs', 'Yards/Attempt']
offense_stats

In [98]:
passing_stats = pd.read_csv('passing_stats.csv') # Passing Stats
passing_stats = passing_stats.drop(columns=['4QC'])
passing_stats = passing_stats.drop(columns=['GWD'])
passing_stats = passing_stats.drop(columns=['Sk%'])
passing_stats = passing_stats.drop(columns=['Rk'])
passing_stats = passing_stats.drop(columns=['EXP'])
passing_stats = passing_stats.drop(columns=['Yds.1'])
passing_stats = passing_stats.drop(columns=['Int%'])
passing_stats = passing_stats.drop(columns=['TD%'])
passing_stats = passing_stats.drop(columns=['Rate'])
passing_stats = passing_stats.drop(columns=['Sk'])
passing_stats = passing_stats.rename(columns={"Tm": "Team", "G": "Games", "Ply": "Total Ply", "Y/P":"Total Y/P", 'Cmp':'Completions', 'Cmp%':'Completion %'})
passing_stats.rename(columns={passing_stats.columns[5]: "Total Yards" }, inplace = True)
display(passdef_stats.head())

,Tm,G,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,Y/A,AY/A,Y/C,Y/G,NY/A,ANY/A
0,Carolina Panthers,13.0,254.0,383.0,66.3,2310.0,18.0,4.7,8.0,2.1,6.7,6.7,10.1,177.7,5.6,5.6
1,Buffalo Bills,13.0,245.0,417.0,58.8,2334.0,10.0,2.4,16.0,3.8,5.9,4.7,10.0,179.5,5.3,4.1
2,New England Patriots,13.0,252.0,430.0,58.6,2542.0,15.0,3.5,19.0,4.4,6.4,5.1,11.0,195.5,5.5,4.3
3,Los Angeles Chargers,13.0,265.0,420.0,63.1,2695.0,19.0,4.5,10.0,2.4,6.9,6.7,10.9,207.3,6.0,5.8
4,Arizona Cardinals,13.0,288.0,442.0,65.2,2728.0,19.0,4.3,12.0,2.7,6.6,6.3,10.2,209.8,5.7,5.4

In [100]:
rushing_stats = pd.read_csv('rushing_stats.csv') # Rushing Stats
rushing_stats = rushing_stats.drop(columns=['Rk'])
rushing_stats = rushing_stats.drop(columns=['Fmb'])
rushing_stats = rushing_stats.drop(columns=['EXP'])
rushing_stats = rushing_stats.drop(columns=['Lng'])
rushing_stats = rushing_stats.rename(columns={"Tm": "Team", "G": "Games"})
rushing_stats.rename(columns={rushing_stats.columns[3]: "Total Yards" }, inplace = True)
display(rushing_stats.head())

                  Team  Games    Att  Total Yards    TD  Y/A    Y/G
0  Philadelphia Eagles   13.0  412.0       2080.0  19.0  5.0  160.0
1   Indianapolis Colts   13.0  383.0       1972.0  20.0  5.1  151.7
2     Baltimore Ravens   13.0  407.0       1883.0  14.0  4.6  144.8
3     Cleveland Browns   13.0  375.0       1865.0  17.0  5.0  143.5
4     Tennessee Titans   13.0  413.0       1791.0  19.0  4.3  137.8

In [101]:
defense_stats = pd.read_csv('defense_stats.csv', index_col=False) # Defensive Stats
defense_stats.columns = defense_stats.iloc[header_row]
defense_stats = defense_stats.drop(header_row)
defense_stats = defense_stats.drop(columns= ["Rk"])
defense_stats = defense_stats.drop(columns= ["FL"])
defense_stats = defense_stats.drop(columns= ["1stD"])
defense_stats = defense_stats.drop(columns= ["TO%"])
defense_stats = defense_stats.drop(columns= ["Sc%"])
defense_stats = defense_stats.drop(columns= ["EXP"])
defense_stats = defense_stats.drop(columns= ["Pen"])
defense_stats = defense_stats.drop(columns= ["1stPy"])
defense_stats = defense_stats.drop(columns= ["Int"])
defense_stats = defense_stats.drop(columns= ["TD"])
defense_stats = defense_stats.drop(columns= ["Cmp"])
defense_stats = defense_stats.drop(columns= ["Att"])
# defense_stats = defense_stats.drop(columns= defense_stats.columns[[16]], axis=1)
defense_stats = defense_stats.iloc[:,~defense_stats.columns.duplicated()]
defense_stats = defense_stats.rename(columns={"Tm": "Team", "G": "Game", "Yds": "Total Yards Allowed", "Ply": "Total Ply", "NY/P":"Net Yards per Pass Allowed", "Y/A":"Rushing Yards Allowed"\
    , "TO":"Total TOs"})
display(defense_stats.head())

,Team,Game,PA,Total Yards Allowed,Total Ply,Y/P,Total TOs,NY/A,Rushing Yards Allowed
1,New England Patriots,13,200,4030,799,5.0,26,5.5,4.4
2,Denver Broncos,13,228,4222,781,5.4,16,6.0,4.4
3,Buffalo Bills,13,229,3756,787,4.8,26,5.3,4.1
4,Arizona Cardinals,13,254,4181,789,5.3,23,5.7,4.7
5,Seattle Seahawks,13,262,5134,939,5.5,13,6.7,3.8

In [102]:
passdef_stats = pd.read_csv('passdef_stats.csv') # Passing Defense Stats
passdef_stats = passdef_stats.drop(columns= ["Rk"])
passdef_stats = passdef_stats.drop(columns= ["QBHits"])
passdef_stats = passdef_stats.drop(columns= ["PD"])
passdef_stats = passdef_stats.drop(columns= ["Rate"])
passdef_stats = passdef_stats.drop(columns= ["Sk"])
passdef_stats = passdef_stats.drop(columns= ["Yds.1"])
passdef_stats = passdef_stats.drop(columns= ["TFL"])
passdef_stats = passdef_stats.drop(columns= ["Sk%"])
passdef_stats = passdef_stats.drop(columns= ["EXP"])
display(passdef_stats.head())

,Tm,G,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,Y/A,AY/A,Y/C,Y/G,NY/A,ANY/A
0,Carolina Panthers,13.0,254.0,383.0,66.3,2310.0,18.0,4.7,8.0,2.1,6.7,6.7,10.1,177.7,5.6,5.6
1,Buffalo Bills,13.0,245.0,417.0,58.8,2334.0,10.0,2.4,16.0,3.8,5.9,4.7,10.0,179.5,5.3,4.1
2,New England Patriots,13.0,252.0,430.0,58.6,2542.0,15.0,3.5,19.0,4.4,6.4,5.1,11.0,195.5,5.5,4.3
3,Los Angeles Chargers,13.0,265.0,420.0,63.1,2695.0,19.0,4.5,10.0,2.4,6.9,6.7,10.9,207.3,6.0,5.8
4,Arizona Cardinals,13.0,288.0,442.0,65.2,2728.0,19.0,4.3,12.0,2.7,6.6,6.3,10.2,209.8,5.7,5.4

In [103]:
rushdef_stats = pd.read_csv('rushdef_stats.csv') # Rushing Defense Stats
rushdef_stats = rushdef_stats.drop(columns= ["EXP"])
display(rushdef_stats.head())

    Rk                        Tm     G    Att     Yds    TD  Y/A   Y/G
0  1.0          Baltimore Ravens  13.0  282.0  1111.0  10.0  3.9  85.5
1  2.0          Tennessee Titans  13.0  293.0  1182.0  12.0  4.0  90.9
2  3.0      Tampa Bay Buccaneers  13.0  268.0  1185.0   9.0  4.4  91.2
3  4.0        Cincinnati Bengals  13.0  293.0  1210.0  11.0  4.1  93.1
4  5.0  Washington Football Team  13.0  302.0  1217.0   9.0  4.0  93.6

In [ ]:
# Efficency of Offense. Yards/Attempt vs Yards/Pass. For each team. As the number of yards/attempt increase the yards/pass increase  
offense_stats.dropna()
offense_stats = offense_stats.loc[offense_stats['G'] != np.NaN]
sns.regplot(x = offense_stats['Y/A'].astype(float), y = offense_stats['Y/P'].astype(float))

In [ ]:
# Efficency of Offense. Yards/Attempt vs Yards/Pass. For each team. As the number of yards/attempt increase the yards/pass increase  
defense_stats.dropna()
sns.regplot(x = defense_stats['Y/A'].astype(float), y = defense_stats['Y/P'].astype(float))

In [ ]:
passing_stats.dropna()
#passing_stats_w_kupp = passing_stats
#passing_stats_w_kupp.loc[35] = [0.0, 'Cooper Kupp', 13.0, np.NaN, 151, 74.8, 1489.0, 12, np.NaN, np.NaN, np.NaN, 59.0, 9.9, 9.9, 13.2, 114.5, 8.7, np.NaN, np.NaN, np.NaN, np.NaN, np.NaN, np.NaN, np.NaN, np.NaN]
kupp_yds = 1489.0
kupp_df = passing_stats.loc[passing_stats['Yds'] < 1.75 * kupp_yds]
kupp_df

We can tell that if we multiply the leading reciever Cooper Kupp's stats alone by 1.75, he would have more yards than 5 entire NFL teams.

In [ ]:
passdef_stats.dropna()
passdef_stats = passdef_stats.loc[passdef_stats['Cmp'] < 1000]
passdef_stats = passdef_stats.loc[passdef_stats['Cmp'] > 100]
sns.regplot(x = passdef_stats['Cmp'].astype(float), y = passdef_stats['Y/G'].astype(float))

In [ ]:
rushing_stats.dropna()
#rushing_stats_w_jt = rushing_stats
#rushing_stats_w_jt.loc[35] = [0.0, 'Jonathan Taylor', 13.0, 241.0, 1348.0, 16.0, 83.0, 5.6, 103.7, 4.0, np.NaN]
jt_df = rushing_stats.loc[rushing_stats['Yds'] < 1348]
jt_df

From this analysis, we can conclude that the Jags, Rams, Bucs, Giants, Falcons, Steelers, Raiders, Jets, Dolphins, and Texans have less total rush yards than Jonathan Taylor alone.

In [ ]:
rushdef_stats.dropna()
rushdef_stats = rushdef_stats.loc[rushdef_stats['Att'] < 1000]
rushdef_stats = rushdef_stats.loc[rushdef_stats['Att'] > 100]
sns.regplot(x = rushdef_stats['Att'].astype(float), y = rushdef_stats['Y/G'].astype(float))

In [ ]:
passing_stats2 = passing_stats.loc[passing_stats['Att'] < 2000]
rushing_stats2 = rushing_stats.loc[rushing_stats['Att'] < 2000]
passing_stats2 = passing_stats2.loc[passing_stats2['Att'] > 100]
rushing_stats2 = rushing_stats2.loc[rushing_stats2['Att'] > 100]
sns.regplot(x = rushing_stats2['Att'].astype(float), y = passing_stats2['Att'].astype(float))
display(passing_stats)

In [ ]:
df = pd.read_csv('week15matchups.csv')
df.head()

In [ ]:
td_df = pd.concat([df[['Home','Away','HomeTD']].assign(home=1).rename(
            columns={'Home':'team', 'Away':'opponent','HomeTD':'tds'}),
           df[['Away','Home','AwayTD']].assign(home=0).rename(
            columns={'Away':'team', 'Home':'opponent','AwayTD':'tds'})])

td_df

In [ ]:
mod = smf.glm(formula="tds ~ home + team + opponent", family=sm.families.Binomial(), data=td_df).fit()
mod.summary()

In [ ]:
import random as rand
def simulate_game(model, homeTeam, awayTeam, max_tds):
    home_tds_avg = model.predict(pd.DataFrame(data={'team': homeTeam, 'opponent': awayTeam,'home':1},index=[1])).values[0]
    away_tds_avg = model.predict(pd.DataFrame(data={'team': awayTeam, 'opponent': homeTeam,'home':0},index=[1])).values[0]
    team_pred = [[stat.binom.pmf(k = rand.randint(1, max_tds), n = i, p = team_avg) for i in range(0, max_tds+1)] for team_avg in [home_tds_avg, away_tds_avg]]
    return(np.outer(np.array(team_pred[0]), np.array(team_pred[1])))

In [ ]:
homeTeam = "New York Giants"
awayTeam = "Dallas Cowboys"
sim = simulate_game(mod, homeTeam, awayTeam, max_tds=9)

In [ ]:
def check_winner(homeTeam, awayTeam, sim):
    home_prob = np.sum(np.tril(sim, 1))
    away_prob = np.sum(np.triu(sim, 1))
    print(str(home_prob))
    print(str(away_prob))
    if home_prob > away_prob:
        print(str(homeTeam) + " will beat the " + str(awayTeam))
    elif away_prob > home_prob:
        print(str(awayTeam) + " will beat the " + str(homeTeam))
    else:
        print(str(homeTeam) + " and " + str(awayTeam) + " will tie")
    print('\n')

In [ ]:
for i, cont in df.iterrows():
    away = cont[0]
    home = cont[1]
    sim = simulate_game(mod, home, away, 9)
    check_winner(away, home, sim)